<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Become a Host</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/milobnb.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id='navbar'>
    </nav>

    <div class="container-fluid room_content">
      <div class="row row-divided">
        <!-- <div class="col-md-7 column-one"> -->
        <div class="col-md-6 col-md-offset-3 room_content_left">
          <h3>Is the pin in the right place?</h3>
          <form action="/become-a-host/amenities" method="POST" id="location_map_form" style="margin-top:30px;">
            <div class="form-group">
              <h4>Only confirmed guests will see this, so they know how to get to your place.</h4>
              <h5 style="margin-top:30px;">{{ address }}</h5>
            </div>
          </form>
          <div id="map"></div>
          <hr class="divide_line">
          <div class="row" id="inner_div_footer">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="history.back()">Back</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" id="location_map_next_btn">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script>
      function initMap() {
        var location = {{ loc|safe }};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: location,
          zoomControl: true,
          zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
          },
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          rotateControl: false,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          fullscreenControl: false
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Firebase JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- Google Map -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQ8A11Bmn1MlZ8q3-HcSUijfhf3-WtI0&callback=initMap"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/milobnb.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util/location_map.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
