<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Become a Host</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/milobnb.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id='navbar'>
    </nav>

    <div class="container-fluid room_content">
      <div class="row row-divided">
        <!-- <div class="col-md-7 column-one"> -->
        <div class="col-md-6 col-md-offset-3 room_content_left">
          <h3>Show travelers what your space looks like</h3>
          <p class="help-block">Many hosts have at least 8 photos. You can start with just one photo and come back later to add more. Including photos of all the spaces a guest can use helps guests imagine staying at your place.</p>
          <form action="/become-a-host/title_description" method="POST" enctype="multipart/form-data" id="photo_form" style="margin-top:30px;">
            <div id="top_photos_upload_div">
              <div class="text-center" id="top_photos_upload">
                <label class="btn btn-danger btn-lg">
                  <input type="file" name="photo" id="top_add_photo" style="display: none;"><i class="glyphicon glyphicon-upload"></i> Upload Photos</input>
                </label>
              </div>
            </div>
            <div class="row" id="add_photos_upload_div">
              <div class="col-md-4" id="photos_div">
                <div class="text-center hidden" id="photos_upload">
                  <label class="btn btn-danger">
                    <input type="file" name="photo" id="add_photo" style="display: none;"><i class="glyphicon glyphicon-upload"></i> Add another</input>
                  </label>
                </div>
              </div>
            </div>
          </form>
          <hr class="divide_line">
          <div class="row" id="inner_div_footer">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="history.back()">Back</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" id="photo_btn">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    {% raw %}
    <script id="top_photo-template" type="text/x-handlebars-template">
      <div id="top_photo" style="position: relative">
        <img class='img-responsive img-thumbnail has-feedback' src='/static/img/upload/{{ filename }}' style='width:100%;' alt="Responsive image">
        <a class="btn btn-default btn-xs pull-right delbtn" id="photo_del_btn" data-options="{{ filename }}" style="position: absolute; top: 4px; right: 5px"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="btn btn-default btn-xs pull-right delbtn hidden" id="photo_remove_btn" data-options="{{ filename }}" style="position: absolute; top: 4px; right: 5px"><i class="glyphicon glyphicon-trash"></i> Remove?</a>
      </div>
    </script>

    <script id="photos-template" type="text/x-handlebars-template">
      <div class="col-md-4 text-center added_photos" id="added_photos{{ cnt }}" style="position: relative">
        <img class='img-responsive img-thumbnail has-feedback' src='/static/img/upload/{{ filename }}' style='width:100%;' alt="Responsive image">
        <a class="btn btn-default btn-xs pull-right delbtn" name="add_photo_del_btn" id="add_photo_del_btn{{ cnt }}" data-cnt="{{ cnt }}" data-options="{{ filename }}" style="position: absolute; top: 4px; right: 5px"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="btn btn-default btn-xs pull-right delbtn hidden" id="add_photo_remove_btn{{ cnt }}" data-cnt="{{ cnt }}" data-options="{{ filename }}" style="position: absolute; top: 4px; right: 5px"><i class="glyphicon glyphicon-trash"></i> Remove?</a>
      </div>
    </script>
    {% endraw %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Firebase JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- Handlebars JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/handlebars-v4.0.11.js') }}"></script> -->
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/milobnb.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util/upload_photos.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- When GET request, manipulate handlebars
    ================================================== -->

    {% for pr in prop %}
      {% if pr.top == 1 %}
        <script>
          var data = {filename: "{{ pr.top_image }}" };
          var source = $("#top_photo-template").html();
          var template = Handlebars.compile(source);
          var temp_img = template(data);

          $("#top_photos_upload").hide();
          $("#top_photos_upload_div").append(temp_img);
          $("#photos_upload").removeClass("hidden");
        </script>
      {% else %}
        <script>
        var smallPhoto_cnt = $("#add_photos_upload_div div").length;

        var data = {filename: "{{ pr.added_image }}", cnt: smallPhoto_cnt - 1};
        var source = $("#photos-template").html();
        var template = Handlebars.compile(source);
        var temp_img = template(data);

        $("#photos_div").before(temp_img);
        </script>
      {% endif %}
    {% endfor %}

  </body>
</html>
