<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Become a Host</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/milobnb.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id='navbar'>
    </nav>

    <div class="container-fluid room_content">
      <div class="row row-divided">
        <!-- <div class="col-md-7 column-one"> -->
        <div class="col-md-6 col-md-offset-3 room_content_left">
          <form action="/become-a-host/profile-photo" method="POST" style="margin-top:30px;">
            <h3>Add your photo</h3>
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <img class="img-circle" src="{{ url_for('static', filename='img/user_pic.png') }}" alt="Generic placeholder image" width="140" height="140">
                </div>
                <div class="col-md-7">
                  <label class="btn btn-default btn-lg">
                    <input type="file" name="photo" id="top_add_photo" style="display: none;"><i class="glyphicon glyphicon-upload"></i> Upload Photos</input>
                  </label>
                </div>
              </div>
            </div>

          </form>
          <hr class="divide_line">
          <div class="row" id="inner_div_footer">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="history.back()">Back</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Firebase JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/milobnb.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
