<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Become a Host</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/milobnb.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id='navbar'>
    </nav>

    <div class="container-fluid room_content">
      <div class="row row-divided">
        <!-- <div class="col-md-7 column-one"> -->
        <div class="col-md-6 col-md-offset-3 room_content_left">
          <!-- <div class="row">
            <div class="col-md-8"> -->
              <h3>What kind of place are you listing?</h3>
              <form action="/become-a-host/bedrooms" method="POST" id="room_form">
                <div class="form-group">
                  <h4>First, let’s narrow things down</h4>
                  <select class="form-control input-lg" name="category_type">
                    <option value="" disabled selected>Select one</option>
                    {% for cate in categories %}
                      {% if cate.id == prop.category %}
                        <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                      {% endif %}
                      <option value="{{ cate.id }}">{{ cate.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <h4>Now choose a property type</h4>
                  <select class="form-control input-lg" name="property_type" aria-describedby="helpBlock">
                    <option value="" disabled selected>Select property type</option>
                    {% for sub in subcate %}
                      {% if sub.category_id == prop.category %}
                        {% if sub.id == prop.subcategory %}
                          <option value="{{ sub.id }}" selected>{{ sub.name }}</option>
                        {% else %}
                          <option value="{{ sub.id }}">{{ sub.name }}</option>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                  {% for sub in subcate %}
                    {% if sub.id == prop.subcategory %}
                      <span id="helpBlock1" class="help-block">{{ sub.description }}</span>
                    {% else %}
                      <span id="helpBlock" class="help-block"></span>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="form-group" id="room_type">
                  <h4>What will guests have?</h4>
                  <select class="form-control input-lg" name="room_type">
                    <option value="entire">Entire place</option>
                    <option value="private">Private room</option>
                    <option value="shared">Shared room</option>
                  </select>
                </div>
                <div class="form-group" id="space_radio">
                  <h4>Is this set up as a dedicated guest space?</h4>
                  <div class="radio">
                    <label>
                      <input type="radio" name="space_radio" value="for_guest">
                      Yes, it’s primarily set up for guests
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="space_radio" value="for_host">
                      No, I keep my personal belongings here
                    </label>
                  </div>
                </div>
              </form>
            <!-- </div>
          </div> -->
          <hr class="divide_line">
          <div class="row" id="inner_div_footer">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="history.back()">Back</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled" id="room_next_btn">Next</button>
            </div>
          </div>
        </div>

      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Firebase JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/milobnb.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util/room.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
